<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Zaidi Corporation </title>

    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link rel="icon" href="~/images/zaidilogo1.png" />
    <link rel='stylesheet' id='dt-sc-css-css' href='~/Assets/plugins/designthemes-core-features/shortcodes/css/shortcodes5010.css?ver=4.9.8' type='text/css' media='all' />
    <link rel='stylesheet' id='dt-yoga-addon-css' href='~/Assets/plugins/designthemes-yoga-addon/css/yoga5010.css?ver=4.9.8' type='text/css' media='all' />
    <link rel='stylesheet' id='reset-css' href='~/Assets/themes/veda/css/reset7793.css?ver=2.4' type='text/css' media='all' />
    <link rel='stylesheet' id='veda-css' href='~/Assets/themes/veda/style7793.css?ver=2.4' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-font-awesome-css' href='~/Assets/themes/veda/css/font-awesome.minb2f9.css?ver=4.3.0' type='text/css' media='all' />
    <link rel='stylesheet' id='pe-icon-7-stroke-css' href='~/Assets/themes/veda/css/pe-icon-7-stroke5010.css?ver=4.9.8' type='text/css' media='all' />
    <link rel='stylesheet' id='stroke-gap-icons-style-css' href='~/Assets/themes/veda/css/stroke-gap-icons-style5010.css?ver=4.9.8' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='~/Assets/themes/veda/css/responsive7793.css?ver=2.4' type='text/css' media='all' />
    <link rel='stylesheet' id='dt-custom-css' href='~/Assets/themes/veda/css/custom7793.css?ver=2.4' type='text/css' media='all' />
    <script type='text/javascript' data-cfasync="false" src='~/Assets/plugins/LayerSlider/static/layerslider/js/greensockb3a6.js?ver=1.19.0'></script>
    <script type='text/javascript' src='~/wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
    <script type='text/javascript' src='~/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>

    <link href="http://themes.semicolonweb.com/html/coworker/css/animate.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")

    <link href="https://fonts.googleapis.com/css?family=Cuprum:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sniglet:300,400,500" rel="stylesheet">
   
    <style>
        .menu-wrapper.stricky-fixed {
            position: fixed;
            top: 0;
            left: 0;
            margin: 0;
            width: 100%;
            border-radius:0px;
            z-index: 9;
            -webkit-animation-name: menu_sticky;
            animation-name: menu_sticky;
            -webkit-animation-duration: 0.60s;
            animation-duration: 0.60s;
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
        .fullwidth-menu-header .menu-wrapper.stricky-fixed:before {
            background: none !important;
        }
        .about-section {
            padding: 50px 0px;
        }

        a, a:hover {
            text-decoration: none !important;
        }

        .heading {
            font-size: 25px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        .border {
            border-bottom: 3px dashed #4a8bbc;
            width: 100px;
            margin-bottom: 10px;
        }
    </style>

    <style>
        .fancybox-opened {
            z-index: 9999 !important;
        }
    </style>
</head>
 
<body class="home-page bp-legacy home page-template-default page page-id-2 tribe-no-js layout-wide fullwidth-header header-align-left fullwidth-menu-header sticky-header standard-header woo-type20 page-with-slider wpb-js-composer js-comp-ver-5.2.1 vc_responsive no-js">
    <!-- **Wrapper** -->
    <div class="wrapper">
        <div class="inner-wrapper">
          
            <!-- **Header Wrapper** -->
            <div id="header-wrapper" class="">
                <!-- **Header** -->
                <header id="header">
                    <!-- **Main Header Wrapper** -->
                    <div id="main-header-wrapper" class="main-header-wrapper">

                        <div class="container">

                            <!-- **Main Header** -->
                            <div class="main-header">
                                <div class="row" style="position:inherit;">
                                    <div id="logo">
                                        <a href="/home/index" title="Veda Yoga">
                                            <img class="normal_logo" src="~/images/zaidicorporationpnglogo.png" />
                                            <img class="retina_logo" src="~/images/zaidicorporationpnglogo.png" style="width:219px; height:78px;" />
                                            <img src="~/images/Zaidi corp Png logo.png" class="hidden-sm hidden-xs" style="left: 110px;width: 240px;top: -3px;" />
                                        </a>
                                    </div>
                                    <div class="header-right hidden-sm hidden-xs">
                                        <div class='text-with-icon'><span class='icon icon-phone2'> </span>022-28684456</div>

                                        <div class='dt-sc-vertical-small-separator '></div>

                                        <div class='text-with-icon'>
                                            <span class='icon icon-mail'> </span>
                                            info@zaidicorp.in
                                        </div>
                                        <div class="dt-sc-vertical-small-separator"></div>
                                        <style>
                                            .snip1489 {
  position: relative;
  font-size: 40px;
  color: #e6e6e6;
  width: 70px;
  margin: 40px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1489:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid #e6e6e6;
  content: '';
  z-index: -1;
  border-radius: 50%;
} 

.snip1489:before,
.snip1489:after {
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.snip1489:hover,
.snip1489:active,
.snip1489.hover {
  color: #313e6b;
}
.snip1489:hover:after,
.snip1489:active:after,
.snip1489.hover:after {
  border-color: transparent #313e6b;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
 .snip14899 {
  position: relative;
  font-size: 40px;
  color: #e6e6e6;
  width: 75px;
  margin: 40px;
  height: 75px;
  line-height: 75px;
  display: inline-block;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip14899:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid #e6e6e6;
  content: '';
  z-index: -1;
  border-radius: 50%;
}
/*.snip14899:before {
  color: #fff;
}*/
.snip14899:before,
.snip14899:after {
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.snip14899:hover,
.snip14899:active,
.snip14899.hover {
  color: #c0392b;
}
.snip14899:hover:after,
.snip14899:active:after,
.snip14899.hover:after {
  border-color: transparent #c0392b;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
                                        </style>

                                        <div class='text-with-icon'><a href="https://www.facebook.com/profile.php?id=100006826215222" target="_blank"><span class='fa fa-facebook snip1489' style="color:#3f6c9c;font-size:25px;"> </span> </a></div>

                                        <div class="dt-sc-vertical-small-separator"></div>

                                        <div class='text-with-icon'><a href="https://www.youtube.com/channel/UCHbD8q8OWP-fO0RPe2vf9AQ/videos" target="_blank"><span class='fa fa-youtube-play snip14899' style="color:#e01e25;font-size:20px;"> </span></a></div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div id="menu-wrapper" class="menu-wrapper stricky">
                                        <div class="body-wrap">
                                            <div class="">
                                                <nav class="navbar navbar-default" role="navigation">
                                                    <div class="container-fluid">
                                                        <div class="navbar-header">
                                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                                                <span class="sr-only">Toggle navigation</span>
                                                                <span class="icon-bar"></span>
                                                                <span class="icon-bar"></span>
                                                                <span class="icon-bar"></span>
                                                            </button>
                                                        </div>

                                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                                            <ul class="nav navbar-nav">
                                                                <li><a href="/home/index">Home</a></li>
                                                                <li><a href="/home/about">About Us</a></li>
                                                                <li><a href="/Home/Product">Product</a></li>
                                                                <li><a href="/Home/Programs">Programs</a></li>
                                                                <li><a href="/Home/Testimonial">Testimonial</a></li>
                                                                <li><a href="/Home/Team">Team</a></li>
                                                                <li><a href="~/Home/Gallery">Gallery</a></li>
                                                                <li><a href="/Home/Contact">Contact Us</a></li>
                                                            </ul>
                                                        </div>
                                                        <!-- /.navbar-collapse -->
                                                    </div>
                                                    <!-- /.container-fluid -->
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

                <!-- **Header - End** -->
            </div>
            <!-- **Header Wrapper - End** -->
            @RenderBody()
            <!-- **Footer** -->
            <footer id="footer">
                <div class="footer-widgets">
                    <div class="container">
                        <div class='col-md-4'>
                            <aside id="text-3" class="widget widget_text">
                                <h3 class="widgettitle">USEFULL LINKS</h3>
                                <div class="textwidget">
                                    <ul class="no-border no-bullet">
                                        <li> <a title="" href="/Home/Index"> Home </a> </li>
                                        <li> <a title="" href="/Home/About"> About Us </a> </li>
                                        <li> <a title="" href="/Home/Testimonial"> Testimonials </a> </li>
                                        <li> <a title="" href="/Home/Gallery"> Gallery </a> </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <div class='col-md-4'>
                            <aside id="text-3" class="widget widget_text">
                                <h3 class="widgettitle">SUPPORT</h3>
                                <div class="textwidget">
                                    <ul class="no-border no-bullet">
                                        <li> <a title="" href="/Home/Terms">  Terms And Conditions </a> </li>
                                        <li> <a title="" href="/Home/Delivery"> Delivery And Shipping Policy </a> </li>
                                        <li> <a title="" href="/Home/Refund"> Refund And Cancellation </a> </li>
                                        <li> <a title="" href="/Home/Privacy"> Privacy Policy </a> </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <div class='col-md-4'>
                            <aside id="text-4" class="widget widget_text">
                                <h3 class="widgettitle">CONTACT US</h3>
                                <div class="textwidget">
                                    <div class='dt-sc-contact-info'><span class='icon icon-pointer'> </span>905, Ghanshyam Enclave, Lalji Pada, Near Laljipada police chowky, Kandiwali link road, Kandiwali (W), Mumbai-400067.</div>

                                    <div class='dt-sc-hr-invisible-xsmall '> </div>

                                    <div class='dt-sc-contact-info  '><span class='icon icon-phone2'> </span>022-28684456</div>

                                    <div class='dt-sc-hr-invisible-xsmall '> </div>

                                    <div class='dt-sc-contact-info  '>
                                        <span class='icon icon-mail'> </span> info@zaidicorp.in
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>

                <style>
                    @@media only screen and (max-width:520px) and (min-width:220px) {
                        .m_bottom {
                            margin-bottom: 20px;
                        }
                    }
                </style>

                <div class="footer-copyright">
                    <div class="container">
                        <div class="aligncenter m_bottom">
                            
                            <div class="col-md-6" style="text-align:left;font-size:17px;line-height:36px;">
                                @*<div class='dt-sc-hr-top-20 '> </div>*@
                                Copyright © Zaidi Corporation 2013. All Rights Reserved
                            </div>
                            
                            <div class="col-md-6" style="float:right;">
                                <ul class='dt-sc-sociable rounded-border-dashed'>
                                    <li>
                                        <a class='fa fa-youtube' target='_blank' title='Youtube' href='https://www.youtube.com/channel/UCHbD8q8OWP-fO0RPe2vf9AQ/videos'> </a>
                                    </li>
                                    <li>
                                        <a class='fa fa-facebook' target='_blank' title='Facebook' href='https://www.facebook.com/profile.php?id=100006826215222'> </a>
                                    </li>
                                 </ul>
                            </div>

                        </div>
                    </div>
                </div>

            </footer>
            <!-- **Footer - End** -->
        </div>
        <!-- **Inner Wrapper - End** -->
    </div>
    <!-- **Wrapper - End** -->

    <style>
        .contact_footer {
            overflow: hidden;
            background-color: #4a8bbc;
            position: fixed;
            bottom: 0;
            color: #fff;
            z-index: 9;
            width: 100%;
            height: 50px;
            line-height: 50px;
            padding-top: 7px;
        }
    </style>

    <div class="contact_footer hidden-md hidden-lg visible-sm visible-xs">
        <div class="col-sm-12 col-xs-12">
            <div class="col-sm-6 col-xs-6 text-left" style="border-right:1px dashed #fff;">
                <a href="#" id="TimeCheck" style="color:#fff;">
                    <p style="margin:0px auto;line-height: 20px;
    text-align: center;"><i class="fa fa-phone" style="margin-right:5px;"></i></p>  <p style="color:#fff;margin:0px auto;line-height: 20px;text-align: center;"> Call Now</p>
                </a>
            </div>
            <div class="col-sm-6 col-xs-6 text-right">
                <a href="https://goo.gl/maps/yY25hoSPwKhwTvsf7" target="_blank" style="margin:0px auto;line-height: 20px;
    text-align: center;">
                    <p style="color:#fff;margin:0px auto;line-height: 20px;text-align: center;"> <i class="fa fa-map-marker" style="margin-right:5px;"></i> </p>
                    <p style="color:#fff;margin:0px auto;line-height: 20px;text-align: center;"> Direction </p>
                </a>
            </div>
        </div>

    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <p>Mobile No: -  <a href="tel:+91 1234567890">  +91 1234567890</a></p>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal1" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <img src="~/images/zaidicorporationpnglogo.png" style="width: 200px;height: 130px;text-align: center;margin:0 auto;display:block;" />
                    <p>Zaidi Corporation might be close please contact between 10.30 am to 5.30 pm (Monday to Saturday).</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#TimeCheck").click(function () {
            var today = new Date().getHours();
            if (today >= 12 && today <= 18) {
                //$('#myModal').modal('show');
                window.location = 'tel:022 2868 4456';
            } else {

                $('#myModal1').modal('show');
            }
        });

    </script>

    @*<script>
            jQuery('ul.nav li.dropdown').hover(function () {
                jQuery(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
            }, function () {
                jQuery(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
            });
        </script>*@
    <script>
        function stickyHeader() {
            if ($('.stricky').length) {
                var strickyScrollPos = 100;
                if ($(window).scrollTop() > strickyScrollPos) {
                    $('.stricky').addClass('stricky-fixed');
                    $('.stricky .container-fluid').addClass('container');
                    $('.scroll-to-top').fadeIn(1500);
                } else if ($(this).scrollTop() <= strickyScrollPos) {
                    $('.stricky').removeClass('stricky-fixed');
                    $('.stricky .container-fluid').removeClass('container');
                    $('.scroll-to-top').fadeOut(1500);
                }
            };
        }

        jQuery(window).on('scroll', function () {
            (function ($) {
                stickyHeader()

            })(jQuery);
        });
    </script>

    <script src="~/js/Validataions.js"></script>

    <div class="whatsapp_chat_support wcs_fixed_right" id="example_1">
        @*<div class="wcs_button_label">
                Questions? Let's Chat
            </div>*@
        <div class="wcs_button wcs_button_circle">
            <span class="fa fa-whatsapp"></span>
        </div>

        <div class="wcs_popup">
            <div class="wcs_popup_close">
                <span class="fa fa-close"></span>
            </div>
            <div class="wcs_popup_header">
                <strong>Need Help? Chat with us</strong>
                @*<br>
                    <div class="wcs_popup_header_description">Click one of our representatives below</div>*@
            </div>
            <div class="wcs_popup_person_container">
                @*<div class="wcs_popup_person" data-number="+919987717555">
                        <div class="wcs_popup_person_img"><img src="~/Whatsapp/img/person_1.jpg" /></div>
                        <div class="wcs_popup_person_content">
                            <div class="wcs_popup_person_name">Navneet</div>
                            <div class="wcs_popup_person_description">Sales Support</div>
                            <div class="wcs_popup_person_status">I'm Online</div>
                        </div>
                    </div>*@
                @Html.Action("whatsapp", "Home")
            </div>
        </div>
    </div>
    <link href="~/css/JQueryMagnify.css" rel="stylesheet" />
    <script src="~/js/jQueryMagnify.js"></script>
    <script>
        $('[data-magnify]').magnify({
            resizable: true,
            initMaximized: true
        })
    </script>
    <link href="~/Whatsapp/whatsapp-chat-support.css" rel="stylesheet" />
    <script src="~/Whatsapp/moment/moment.min.js"></script>
    @*<script src="~/Whatsapp/moment/moment-timezone-with-data.min.js"></script>*@

    <script src="~/Whatsapp/whatsapp-chat-support.js"></script>
    <script>
        $('#example_1').whatsappChatSupport();
      
    </script>

    <link href="~/css/jquery.fancybox.css" rel="stylesheet" />
    <script src="~/js/jquery.fancybox.pack.js"></script>
    <script>
            if ($('.lightbox-image').length) {
                $('.lightbox-image').fancybox({
                    openEffect: 'elastic',
                    closeEffect: 'elastic',
                    helpers: {
                        media: {}
                    }
                });
            }
    </script>

    @RenderSection("scripts", required: false)

</body>
</html>
