@model ZaidiCorp.Models.combo
@{
    ViewBag.Title = "DigitalCard18";
    Layout = "~/Views/Shared/Layout1.cshtml";
    if (Request.Cookies["msg"] != null)
    {
        ViewBag.msg = Request.Cookies["msg"].Value;
        Request.Cookies["msg"].Expires = DateTime.Now.AddSeconds(0);
    }
}

@foreach (var item in Model.customerinfo)
{
    <title> @item.customername </title>
}

<!-- Css -->
<link href="~/DigitalCard18/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/DigitalCard18/css/owl-carousel/owl.carousel.css" rel="stylesheet" media="all" />
<link href="~/DigitalCard18/css/owl-carousel/owl.theme.css" rel="stylesheet" media="all" />
<link href="~/DigitalCard18/css/magnific-popup.css" type="text/css" rel="stylesheet" media="all" />
<link href="~/DigitalCard18/css/font.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/DigitalCard18/css/fontello.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/DigitalCard18/css/base.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/DigitalCard18/css/main.css" rel="stylesheet" type="text/css" media="all" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

@foreach (var item in Model.customerinfo)
{

    <meta name="keywords" content="">
    <meta name="description" content="@item.customername">

    <!-- Twitter Card data -->
    <meta name="twitter:site" content="@item.customername">
    <meta name="twitter:title" content="@item.customername">
    <meta name="twitter:description" content="">
    <meta name="twitter:creator" content="http://mydc.in/?a=@item.callme-18">
    <meta name="twitter:image:src" content="@item.imageurl">

    <!-- Open Graph data -->
    <meta property="og:title" content="@item.customername" />
    <meta property="og:type" content="@item.customername" />
    <meta property="og:description" content="We are group of life insurance professionals, helping people with professional and expert advice on different types of life insurance as per their needs. We also provide support to people searching for career in life insurance sector." />
    <meta property="og:site_name" content="http://mydc.in/?a=@item.callme-18" />
    <meta property="og:image" content="@item.imageurl" />
    <meta property="article:section" content="@item.customername" />

    <!--Wrapper-->
    <div id="wrapper" class="margLTop margLBottom">
        <!--Container-->
        <div class="container">
            <div class="row">
                <!--Left content-->

                <div class="col-md-3 nopr left-content">
                    <!--Header-->
                    <header id="header">
                        <!--Main header-->
                        <div class="main-header">
                            <!--Profile image-->
                            <figure class="img-profile">

                                @if (item.imageurl != "")
                                {
                                    <img src="@item.imageurl">
                                }
                                else
                                {
                                    <img src="~/images/abc.png">
                                }

                            </figure>
                            <!--End profile image-->
                            <!--Main navigation-->
                            <nav id="main-nav" class="main-nav clearfix tabbed">
                                <ul>
                                    <li>
                                        <a href="#about"><i class="fa fa-home"></i> Home </a>
                                    </li>
                                    <li>
                                        <a href="#vision"><i class="fa fa-eye"></i> Vision </a>
                                    </li>
                                    <li>
                                        <a href="#services"><i class="icon-archive"></i> Services </a>
                                    </li>
                                    <li>
                                        <a href="#testimonials"><i class="icon-chat"></i> Team </a>
                                    </li>
                                    <li>
                                        <a href="#gallery"><i class="icon-camera"></i> Gallery </a>
                                    </li>
                                    <li>
                                        <a href="#videos"><i class="icon-video"></i> Videos </a>
                                    </li>
                                    <li>
                                        <a href="#contact"><i class="icon-phone"></i>Contact</a>
                                    </li>
                                </ul>
                                <style>
                                    .policy {
                                        background: #33373d;
                                        border-top: 1px solid #26292e;
                                        color: #fff;
                                    }
                                    @@media only screen and (max-width:520px) and (min-width:220px)
                                    {
                                        .policy
                                        {
                                            display:none;
                                        }
                                    }
                                </style>
                                <div class="policy">
                                    <a href="http://digitalcard.live/Home/PrivacyPolicy?customerid=@ViewBag.id" target="_blank" style="display: table;text-align: right;background: #33373d;color: #85878b;font-size: 12px;text-transform: uppercase;padding: 15px 25px;-webkit-transform: translateZ(0);-ms-transform: translateZ(0);transform: translateZ(0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-ms-transition-property: color;-webkit-transition-property: color;transition-property: color;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;width: 100%;"><i class="fa fa-question-circle" style="position: absolute;left: 25px;font-size: 22px;"></i> Privacy Policy </a>
                                </div>
                            </nav>
                            <!--End main navigation-->
                        </div>
                        <!--End main header-->

                        <div class="bottom-header bgWhite ofsTSmall ofsBSmall tCenter hidden-sm hidden-xs">
                            <ul class="social">
                                <li>
                                    <a href="#"><i class="icon-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-linkedin"></i></a>
                                </li>
                            </ul>

                            <p>&copy; 2020 Zaidi Corporation.</p>
                        </div>
                    </header>
                    <!--End  header-->
                </div>
                <!--End left content-->
                <!--Right content-->
                <div class="col-md-9 right-content">
                    <!--About Tab-->
                    <section id="about" class="bgWhite ofsInBottom">
                        <!--About -->
                        <div class="about">
                            <!--Main title-->

                            <div class="main-title">
                                <h1> Profile Information </h1>
                                <div class="divider">
                                    <div class="zigzag large clearfix" data-svg-drawing="yes">
                                        <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                        <path d="M1.357,12.26 10.807,2.81 20.328,12.332
	29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
                                              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;" />































































































































                                            </svg>
                                    </div>
                                </div>
                            </div>

                            <!--End main title-->
                            <!--Content-->
                            <div class="content">
                                <!--Block content-->
                                <div class="block-content margBSmall">
                                    <div class="profile margBSmall">
                                        <h1> @item.customername </h1>
                                        <h3> @item.designation </h3>
                                    </div>
                                </div>
                                <!--End block content-->
                                <!--Block content-->
                                <div class="block-content">
                                    <div class="info">
                                        <!--Row-->
                                        <div class="row">

                                            <style>
                                                .infos i {
                                                    text-align: center;
                                                    background: #ffc720;
                                                    width: 40px;
                                                    height: 40px;
                                                    border-radius: 50%;
                                                    line-height: 40px;
                                                    font-size: 20px;
                                                    margin-right: 10px;
                                                    color: #0c487b;
                                                }

                                                .home .share-whatsapp {
                                                    /*display: flex;
                                                    justify-content: center;*/
                                                }

                                                    .home .share-whatsapp input {
                                                        -webkit-appearance: none;
                                                        outline: 0;
                                                        border: 0;
                                                        background: #fff;
                                                        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
                                                        padding: 10px 15px;
                                                        /*border-radius: 30px;*/
                                                    }

                                                .share-whatsapp .whatsapp-button {
                                                    -webkit-appearance: none;
                                                    outline: 0;
                                                    cursor: pointer;
                                                    /*border-radius: 30px;*/
                                                    padding: 10px 15px;
                                                    font-size: 13px;
                                                    background-color: #51B14D;
                                                    color: #fff;
                                                    border: none;
                                                    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(255, 251, 251, 0.1) inset;
                                                    margin-left: 10px;
                                                    display: flex;
                                                    align-items: center;
                                                }

                                                @@media only screen and (max-width:520px) and (min-width:220px) {
                                                    .share-whatsapp .whatsapp-button {
                                                        padding: 10px 12px;
                                                        font-size: 8px;
                                                    }
                                                }
                                            </style>

                                            <div class="col-md-12 home">
                                                <span class="infos"> <a href="tel:@item.callme" style="font-size:14px;color:#000;"><i class="fa fa-phone"></i> @item.callme </a></span><br /><br />
                                                <span class="infos"> <a href="mailto:@item.emailid" style="font-size:14px;color:#000;"><i class="fa fa-envelope-o"></i> @item.emailid </a></span><br /><br />
                                                <span class="infos"> <a href="@item.website" style="font-size:14px;color:#000;"><i class="fa fa-globe"></i> @item.website </a></span><br /><br />
                                                <span class="infos"> <a href="@item.direction" style="font-size:14px;color:#000;"><i class="fa fa-map-marker"></i> @item.address </a></span><br /><br />

                                                @*<div class="share-whatsapp">
                                                        <div class="col-md-6 col-sm-6 col-xs-6" style="float:left;padding:0px;">
                                                            <input type="text" id="txtWhatsappNo" placeholder="+91 0000000000">
                                                        </div>
                                                        <div class="col-md-6 col-sm-6 col-xs-6" style="float:left;padding:0px;">
                                                            <button type="submit" class="whatsapp-button" onclick="shareViaWhatsapp()"><i class="fa fa-whatsapp" style="font-size:20px;margin-right:10px;"></i> Share on Whatsapp</button>
                                                        </div>
                                                    </div>*@

                                                <div>
                                                    <div style="padding:10px;" class="input-group">
                                                        <input id="whatsapp-input" type="text" class="form-control" placeholder="Enter Mobile No">
                                                        <span class="input-group-addon"><a class="whatsapp-button" target="_blank" href="javascript:;" onclick="handleWhatsappShare(this)" style="color:#fff;" maxlength="10" oninput="this.value=this.value.replace(/[^0-9]/g,'');"><i class="fa fa-whatsapp"></i> Share On Whatsapp </a> </span>
                                                    </div>
                                                </div>
                                                <style>
                                                    .input-group-addon {
                                                        padding: 3px 12px;
                                                        font-size: 14px;
                                                        font-weight: normal;
                                                        line-height: 1.8;
                                                        text-align: center;
                                                        background-color: #13730f;
                                                        /* border: 1px solid #cccccc; */
                                                        /*border-radius: 4px;*/
                                                        color: #fff;
                                                        /* background-color: white; */
                                                    }
                                                </style>
                                                <script>
                 function handleWhatsappShare(e) {
                     const {value} = document.getElementById('whatsapp-input');
                     if (value.length < 10) {
                         e.preventDefault();
                         return;
                     }
                     var msg = encodeURIComponent('Hello,\n To Know more about our provided services click on given link...\n http://mydc.in/?a=@item.callme-15 \n Thanks & Regards \n @item.customername')
                     e.href = `https://wa.me/91${document.getElementById('whatsapp-input').value}?text=${msg}`;
                     }
                     function handleDirectWhatsappShare(e) {
                         e.href = `whatsapp: \/\/send?text=${window.location.href}`;
                   }
                                                </script>

                                            </div>

                                        </div>
                                        <!--End row-->
                                    </div>
                                </div>
                                <!--End block content-->
                            </div>
                            <!--End content-->
                            <!-- About Me -->
                            <div class="main-title">
                                <h1> About Me </h1>
                                <div class="divider">
                                    <div class="zigzag large clearfix" data-svg-drawing="yes">
                                        <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                        <path d="M1.357,12.26 10.807,2.81 20.328,12.332
		29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
                                              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;" />































































































































































































                                            </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <!--Block content-->
                                <div class="block-content">
                                    <!--Testimonilas-->
                                    <div>
                                        <!--Row-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                @Html.Raw(item.about)
                                            </div>
                                        </div>
                                        <!--End row-->
                                    </div>
                                    <!--End testimonials-->
                                </div>
                                <!--End block content-->
                            </div>
                            <!-- End About Me -->
                            <!--Button-->
                            <div class="button margTop ofsInTop tCenter">
                                <div class="divider">
                                    <div class="zigzag large clearfix" data-svg-drawing="yes">
                                        <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                        <path d="M1.357,12.26 10.807,2.81 20.328,12.332
			29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
                                              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;" />































































































































                                            </svg>
                                    </div>
                                </div>

                                <!--Row-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <form method="post" action="savecontact">
                                            <button role="button" type="submit" class="but opc-2 ico" style="border: 0;font-size: 16px;margin: 15px 0 0 5px;font-weight: 500;text-decoration: none;">  Add To Contact </button>
                                        </form>
                                        <div>
                                            <a href="http://digitalcard.live/Home/PrivacyPolicy?customerid=@ViewBag.id" class="but opc-2" target="_blank" style="margin:15px 0 0 5px;font-size:16px;" ><i class="fa fa-question-circle"></i> Privacy Policy </a>
                                        </div>
                                    </div>
                                </div>
                                <!--End row-->
                            </div>
                            <!--End button-->
                        </div>
                        <!--End about-->
                    </section>
                    <!--End about tab-->
                    <!--Vision Tab-->
                    <section id="vision" class="bgWhite ofsInBottom">
                        <div class="about">
                            <!--Main title-->
                            <div class="main-title">
                                <h1> Vision </h1>
                                <div class="divider">
                                    <div class="zigzag large clearfix" data-svg-drawing="yes">
                                        <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                        <path d="M1.357,12.26 10.807,2.81 20.328,12.332
		29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
                                              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;" />































































                                            </svg>
                                    </div>
                                </div>
                            </div>
                            <!--Content-->
                            <div class="content">
                                <!--Block content-->
                                <div class="block-content">
                                    <!--Testimonilas-->
                                    <div>
                                        <!--Row-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                @Html.Raw(item.vision)
                                            </div>
                                        </div>
                                        <!--End row-->
                                    </div>
                                    <!--End testimonials-->
                                </div>
                                <!--End block content-->
                            </div>
                            <!--End content-->
                        </div>
                    </section>
                    <!--End Vision tab-->
                    <!--Services Tab-->
                    <section id="services" class="bgWhite ofsInBottom">
                        <div class="about">
                            <!--Main title-->
                            <div class="main-title">
                                <h1> Services </h1>
                                <div class="divider">
                                    <div class="zigzag large clearfix" data-svg-drawing="yes">
                                        <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                        <path d="M1.357,12.26 10.807,2.81 20.328,12.332
		29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
                                              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;" />































































































































                                            </svg>
                                    </div>
                                </div>
                            </div>
                            <!--Content-->
                            <div class="content">
                                <!--Block content-->
                                <div class="block-content">
                                    <!--Testimonilas-->
                                    <div>
                                        <!--Row-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                @Html.Raw(item.service)
                                            </div>
                                        </div>
                                        <!--End row-->
                                    </div>
                                    <!--End testimonials-->
                                </div>
                                <!--End block content-->
                            </div>
                            <!--End content-->
                        </div>
                    </section>
                    <!--End Services tab-->
                    <!--Testimonials Tab-->
                    <section id="testimonials" class="bgWhite ofsInBottom">
                        <!--Portfolio -->
                        <div class="portfolio">
                            <!--Main title-->
                            <div class="main-title">
                                <h1> Team </h1>
                                <div class="divider">
                                    <div class="zigzag large clearfix" data-svg-drawing="yes">
                                        <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                        <path d="M1.357,12.26 10.807,2.81 20.328,12.332
				29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
                                              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;" />































































































































                                            </svg>
                                    </div>
                                </div>
                            </div>
                            <!--End main title-->
                            <!--Content-->
                            <div class="content">
                                <!--Block content-->
                                <div class="block-content">
                                    <!--Testimonilas-->
                                    <div class="testimonials">
                                        <!--Row-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <!--Slider-->
                                                <div class="testi clearfix">
                                                    <ul id="testimonial-carousel">
                                                        @if (Model.testimonials != null)
                                                        {
                                                            foreach (var items in Model.testimonials)
                                                            {
                                                                <li>
                                                                    <div class="block-quote">
                                                                        <div class="block-img">
                                                                            @if (items.image != null)
                                                                            {
                                                                                <img src="@items.image" alt="" class="img-responsive">
                                                                            }
                                                                            else
                                                                            {
                                                                                <img src="~/DigitalCard/images/abc.png" alt="" class="img-responsive">
                                                                            }
                                                                        </div>
                                                                        <div class="block-icon"><i class="icon-quote"></i></div>
                                                                        <h3 class="block-profile">@items.name</h3>
                                                                        <blockquote>
                                                                            @items.description
                                                                        </blockquote>
                                                                    </div>
                                                                </li>
                                                            }
                                                        }


                                                    </ul>
                                                </div>
                                                <!--End  slider-->
                                            </div>
                                        </div>
                                        <!--End row-->
                                    </div>
                                    <!--End testimonials-->
                                </div>
                                <!--End block content-->
                            </div>
                            <!--End content-->
                        </div>
                        <!--End portfolio-->
                    </section>
                    <!--End Testimonials tab-->
                    <!--Gallery Tab-->
                    <section id="gallery" class="bgWhite ofsInBottom">
                        <div class="about">
                            <!--Main title-->
                            <div class="main-title">
                                <h1> Gallery </h1>
                                <div class="divider">
                                    <div class="zigzag large clearfix" data-svg-drawing="yes">
                                        <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                        <path d="M1.357,12.26 10.807,2.81 20.328,12.332
		29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
                                              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;" />































































                                            </svg>
                                    </div>
                                </div>
                            </div>
                            <!--Content-->
                            <div class="content">
                                <!--Block content-->
                                <div class="block-content">
                                    <div>
                                        <style>
                                            .box_gallery {
                                                overflow: hidden;
                                                position: relative;
                                            }

                                                .box_gallery img {
                                                    width: 100%;
                                                    height: 300px;
                                                    margin-bottom: 10px;
                                                }

                                                .box_gallery .box-content {
                                                    width: 100%;
                                                    height: 100%;
                                                    position: absolute;
                                                    top: 50%;
                                                    left: 50%;
                                                    z-index: 2;
                                                    transform: translate(-50%, -50%);
                                                }

                                                    .box_gallery:before,
                                                    .box_gallery:after,
                                                    .box_gallery .box-content:before,
                                                    .box_gallery .box-content:after {
                                                        /*content: "";
                                            width: 100%;
                                            height: 100%;
                                            background: linear-gradient(45deg,rgba(0,0,0,0.5) 49%, rgba(0,0,0,0.7) 50%);
                                            position: absolute;
                                            top: -100%;
                                            left: 50%;
                                            opacity: 0;
                                            transform: translateX(-50%) rotate(45deg);
                                            transition: all 0.3s steps(4);*/
                                                    }

                                                .box_gallery:after {
                                                    /*top: 100%;
                                                background: linear-gradient(45deg,rgba(0,0,0,0.7) 49%, rgba(0,0,0,0.5) 50%);
                                                transform: translateX(-50%) rotate(45deg);*/
                                                }

                                                .box_gallery .box-content:before {
                                                    /*top: 50%;
                                                left: -100%;
                                                background: linear-gradient(135deg,rgba(0,0,0,0.7) 49%, rgba(0,0,0,0.5) 50%);
                                                transform: translateY(-50%) rotate(45deg);*/
                                                }

                                                .box_gallery .box-content:after {
                                                    /*top: 50%;
                                                left: 100%;
                                                background: linear-gradient(135deg,rgba(0,0,0,0.5) 49%, rgba(0,0,0,0.7) 50%);
                                                transform: translateY(-50%) rotate(45deg);*/
                                                }

                                                .box_gallery:hover:before {
                                                    top: -70%;
                                                    opacity: 1;
                                                }

                                                .box_gallery:hover:after {
                                                    top: 70%;
                                                    opacity: 1;
                                                }

                                                .box_gallery:hover .box-content:before {
                                                    top: 50%;
                                                    left: -71%;
                                                    opacity: 1;
                                                }

                                                .box_gallery:hover .box-content:after {
                                                    top: 50%;
                                                    left: 71%;
                                                    opacity: 1;
                                                }

                                                .box_gallery .inner-content {
                                                    width: 100%;
                                                    height: 50%;
                                                    text-align: center;
                                                    color: #fff;
                                                    position: absolute;
                                                    top: 65%;
                                                    left: 50%;
                                                    z-index: 2;
                                                    transform: translate(-50%, 50%) scale(0);
                                                    transition: all 0.3s ease 0.2s;
                                                }

                                                    .box_gallery .inner-content:after {
                                                        content: "";
                                                        width: 180px;
                                                        height: 180px;
                                                        border-radius: 50%;
                                                        background: #00529c;
                                                        position: absolute;
                                                        top: 20%;
                                                        left: 50%;
                                                        z-index: -1;
                                                        transform: translate(-50%, -50%);
                                                    }

                                                .box_gallery:hover .inner-content {
                                                    transform: translate(-50%, -50%) scale(1);
                                                    transition: all 0.3s ease 0s;
                                                }

                                                .box_gallery .title {
                                                    font-size: 22px;
                                                    font-weight: 700;
                                                    text-transform: capitalize;
                                                    margin: 0 0 5px 0;
                                                }

                                                .box_gallery .post {
                                                    display: block;
                                                    font-size: 14px;
                                                    font-style: italic;
                                                    text-transform: uppercase;
                                                    margin-bottom: 7px;
                                                }

                                                .box_gallery .icon {
                                                    padding: 0;
                                                    margin: 0;
                                                    list-style: none;
                                                }

                                                    .box_gallery .icon li {
                                                        display: inline-block;
                                                        margin: 0 10px;
                                                        opacity: 0;
                                                        transition: all 0.3s ease 0s;
                                                    }

                                                .box_gallery:hover .icon li {
                                                    margin: 0 3px;
                                                    opacity: 1;
                                                }

                                                .box_gallery .icon li a {
                                                    display: block;
                                                    width: 28px;
                                                    height: 28px;
                                                    line-height: 28px;
                                                    border-radius: 20%;
                                                    background: #fff;
                                                    font-size: 16px;
                                                    color: #505050;
                                                    transition: all 0.3s ease 0s;
                                                }

                                                    .box_gallery .icon li a:hover {
                                                        background: #fff;
                                                        color: #1856a3;
                                                        box-shadow: 0 0 5px rgba(0,0,0,0.5) inset;
                                                    }

                                            @@media only screen and (max-width:990px) {
                                                .box_gallery {
                                                    margin-bottom: 30px;
                                                }
                                            }
                                        </style>
                                        
                                        <style>
                                            .box{
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    position: relative;
    margin-bottom:15px;
}
.box:before,
.box:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 0.6s ease-out 0s;
}
.box:hover:before{
    background: rgba(0, 0, 0, 0.2);
    left: 50%;
    right: 50%;
}
.box:hover:after{
    background: rgba(0, 0, 0, 0.2);
    bottom: 50%;
    top: 50%;
}
.box img{
    width: 100%;
    height: 250px;
}
.box .box-content{
    width: 100%;
    height: 100%;
    padding-top: 25%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(2);
    transition: all 0.5s ease 0s;
}
.box:hover .box-content{
    opacity: 1;
    transform: scale(1);
}
.box .title{
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
    background: #000;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}
.box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
}
.box .icon li{ display: inline-block; }
.box .icon li a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #fff;
    font-size: 20px;
    color: #000;
    margin-right: 5px;
    transform: rotate(0);
    transition: all 0.35s ease 0s;
}
.box .icon li a:hover{
    background: #4044ef;
    color: #fff;
    transform: rotate(360deg);
}
@@media only screen and (max-width:990px){
    .box{ margin-bottom: 20px; }
}
                                        </style>
                                        <!--Row-->

                                        <div class="row">
                                            <div class="col-md-12">
                                                @if (Model.gallery != null)
                                                {
                                                    foreach (var items in Model.gallery)
                                                    {
                                                        @*<div class="col-sm-4">
                                                            <div class="box_gallery">
                                                                <img src="@items.Image" class="img-responsive">
                                                                <div class="box-content">
                                                                    <div class="inner-content">
                                                                        <ul class="icon">
                                                                            <li>
                                                                                <a href="@items.Image" data-magnify="gallery">
                                                                                    <i class="fa fa-search"></i>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>*@

                                                        <div class="col-md-4 col-sm-6">
                                                            <div class="box">
                                                                <img src="@items.Image">
                                                                <div class="box-content">
                                                                    <ul class="icon">
                                                                        <li><a href="@items.Image" data-magnify="gallery" class="fa fa-search"></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <!--End row-->
                                    </div>
                                </div>
                                <!--End block content-->
                            </div>
                            <!--End content-->
                        </div>
                    </section>
                    <!--End Gallery tab-->
                    <!--Vides Tab-->
                    <section id="videos" class="bgWhite ofsInBottom">
                        <div class="about">
                            <!--Main title-->
                            <div class="main-title">
                                <h1> Videos </h1>
                                <div class="divider">
                                    <div class="zigzag large clearfix" data-svg-drawing="yes">
                                        <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                        <path d="M1.357,12.26 10.807,2.81 20.328,12.332
		29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
                                              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;" />































































                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <!--Content-->
                            <div class="content">
                                <!--Block content-->
                                <div class="block-content">
                                    <div>
                                        <!--Row-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <style>
                                                    .Video_blcok .blocks {
                                                        position: relative;
                                                    }

                                                        .Video_blcok .blocks .greenhead {
                                                            background: #fff;
                                                            text-align: center;
                                                            color: #00283a;
                                                            font-size: 14px;
                                                            /*border-bottom: 1px solid #558f02;*/
                                                            line-height: 43px;
                                                            font-weight: 600;
                                                        }

                                                    .blockstart {
                                                        border: 2px solid #000;
                                                        padding: 2px;
                                                        height: 300px;
                                                        margin: 10px 0px;
                                                    }

                                                        .blockstart a {
                                                            width: 100%;
                                                        }

                                                    .blockimg {
                                                        width: 100%;
                                                        height: 250px !important;
                                                    }

                                                    .Video_blcok .blocks .blockstart span {
                                                        position: absolute;
                                                        left: 50%;
                                                        top: 50%;
                                                        margin-top: -25px;
                                                        margin-left: -25px;
                                                        width: 58px;
                                                        height: 41px;
                                                        line-height: 50px;
                                                        font-size: 60px;
                                                        color: #48c7f6;
                                                    }
                                                </style>
                                                <div class="product mb-3">
                                                    <div class="Video_blcok">
                                                        <section>
                                                            @{
                                                                if (Model.videos != null)
                                                                {
                                                                    foreach (var itm in Model.videos)
                                                                    {
                                                                        <div class="blocks">
                                                                            <div class="blockstart">
                                                                                <a id="pIASsr9TcKA" rel="fancyvideo" class="fancybox-media" href="https://youtu.be/@itm.url">
                                                                                    <img src="https://img.youtube.com/vi/@itm.url/0.jpg" class="img-responsive blockimg">
                                                                                    <span class="fa fa-play" id="@itm.url"></span>
                                                                                </a>
                                                                                <div class="greenhead"> @itm.title</div>
                                                                            </div>
                                                                        </div>


                                                                    }
                                                                }

                                                            }
                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--End row-->
                                    </div>
                                </div>
                                <!--End block content-->
                            </div>
                            <!--End content-->
                        </div>
                    </section>
                    <!--End Videos tab-->
                    <!--Contact Tab-->
                    <section id="contact" class="bgWhite ofsInBottom">
                        <!--Contact -->
                        <div class="contact">
                            <div class="main-title">
                                <h1>Contact Info</h1>
                                <div class="divider">
                                    <div class="zigzag large clearfix" data-svg-drawing="yes">
                                        <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                        <path d="M1.357,12.26 10.807,2.81 20.328,12.332
							29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
                                              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;" />































































                                            </svg>
                                    </div>
                                </div>
                            </div>

                            <!--End main title-->
                            <!--Content-->
                            <div class="content">
                                <!--Block content-->
                                <div class="block-content">
                                    <!--Info-->
                                    <div class="block-info">
                                        <!--Row-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="info-holder margTMedium">
                                                    <!--Address info-->
                                                    <div class="address-info">
                                                        <i class="icon-location"></i>
                                                        <p>
                                                            @item.address
                                                        </p>
                                                    </div>
                                                    <!--End address info-->
                                                    <!--Contact info-->
                                                    <div class="contact-info tCenter">
                                                        <ul>
                                                            <li>
                                                                <div class="ico"><i class="icon-mail"></i></div>
                                                                <p> Email : @item.emailid </p>
                                                            </li>
                                                            <li>
                                                                <div class="ico"><i class="icon-phone"></i></div>
                                                                <p> Mobile No : @item.callme </p>
                                                            </li>
                                                            <li>
                                                                <div class="ico"><i class="icon-link"></i></div>
                                                                <p>WebSite : <a href="#"> @item.website </a></p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <!--End contact info-->
                                                </div>
                                            </div>
                                        </div>
                                        <!--End row-->
                                    </div>
                                    <!--End info-->
                                </div>
                                <!--End block content-->
                            </div>
                            <!--End content-->
                            <!--Main title-->

                            <div class="main-title">
                                <h1>send me an email</h1>
                                <div class="divider">
                                    <div class="zigzag large clearfix" data-svg-drawing="yes">
                                        <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                        <path d="M1.357,12.26 10.807,2.81 20.328,12.332
					29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
                                              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;" />















                                            </svg>
                                    </div>
                                </div>
                            </div>

                            <!--End main title-->
                            <style>
                                .error {
                                    color: red;
                                }
                            </style>
                            <!--Content-->
                            <div class="content">
                                <!--Block content-->
                                <div class="block-content">
                                    <!--Contact-->
                                    <div class="block-contact margBSSmall">
                                        <!--Row-->

                                        <style>
                                                                            .g-recaptcha {
                                                                                /*transform: scale(1);
                                            transform-origin: 0 0;*/
                                                                                padding: 5px 15px;
                                                                            }

                                                                                .g-recaptcha div {
                                                                                    width: 100% !important;
                                                                                    text-align: center;
                                                                                    margin: auto;
                                                                                }

                                                                            @@media only screen and (max-width:520px) and (min-width:220px) {
                                                                                .g-recaptcha {
                                                                                    transform: scale(1);
                                                                                    transform-origin: 0 0;
                                                                                    padding: 5px 10px;
                                                                                }
                                                                            }
                                        </style>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <form class="contact-form" method="post" id="register" name="register" action="sendenquiry">
                                                    <!--Input columns-->
                                                    <div class="input-columns clearfix">
                                                        <div class="column1">
                                                            <div class="column-inner">
                                                                <input type="hidden" name="toname" value="@item.customername">
                                                                <input type="hidden" name="toemail" value="@item.emailid">
                                                                <input type="text" placeholder="Name" class="alphabetOnly" name="name" />
                                                            </div>
                                                        </div>

                                                        <!--Column-->
                                                        <div class="column2">
                                                            <div class="column-inner">
                                                                <input type="text" placeholder="Email" name="email" />
                                                            </div>
                                                        </div>
                                                        <!--End column-->
                                                    </div>
                                                    <!--End input columns-->

                                                    <input type="text" placeholder="Mobile No" class="numbersOnly" name="number" pattern="[1-9]{1}[0-9]{9}" maxlength="10" />
                                                    <textarea name="query" placeholder="Message" cols="45" rows="10"></textarea>

                                                    <div class="g-recaptcha" data-sitekey="6LdZ48kbAAAAALzrv1omkzc5Kld6IJj9wAFxM8qW" data-callback="recaptchaCallback"></div>
                                                    <input type="hidden" class="hiddenRecaptcha required" name="hiddenRecaptcha" id="hiddenRecaptcha">


                                                    <input type="submit" name="subquery" value="send your email" class="but opc-2 submit" />
                                                </form>

                                            </div>
                                        </div>
                                        <!--End row-->
                                    </div>
                                    <!--End contact-->
                                </div>
                                <!--End block content-->
                            </div>
                            <!--End content-->
                            <!--Button-->
                            <div class="button ofsInTop tCenter">
                                <div class="divider">
                                    <div class="zigzag large clearfix" data-svg-drawing="yes">
                                        <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                        <path d="M1.357,12.26 10.807,2.81 20.328,12.332
				29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "
                                              style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;" />



                                            </svg>
                                    </div>
                                </div>

                                <!--Row-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <form method="post" action="savecontact">
                                            <button role="button" type="submit" class="but opc-2 ico" style="border: 0;font-size: 16px;margin: 15px 0 0 5px;font-weight: 500;text-decoration: none;">  Add To Contact </button>
                                        </form>
                                    </div>
                                </div>
                                <!--End row-->
                            </div>
                            <!--End button-->
                        </div>
                        <!--End contact-->
                    </section>
                    <!--End contact tab-->

                    <div class="bottom-header bgWhite ofsTSmall ofsBSmall tCenter hidden-md hidden-lg">
                        <ul class="social">
                            <li>
                                @if (item.fblink != null)
                                {
                                    <a href="@item.fblink" target="_blank" rel="noreferrer" aria-label="facebook" class="iconso"><i class="icon-facebook"></i></a>
                                }
                            </li>
                            <li>
                                @if (item.twilink != null)
                                {
                                    <a href="@item.twilink" target="_blank" rel="noreferrer" aria-label="twitter" class="iconso"><i class="icon-twitter"></i></a>
                                }
                            </li>
                            @*<a href="https://www.instagram.com/?hl=en" target="_blank" rel="noreferrer" aria-label="instagram" class="icons"><i class="fa fa-instagram"></i></a>*@
                            <li>
                                @if (item.linkedin != null)
                                {
                                    <a href="@item.linkedin" target="_blank" rel="noreferrer" aria-label="linkedin" class="iconso"><i class="icon-linkedin"></i></a>
                                }
                            </li>

                        </ul>

                        <p>&copy; 2020 Zaidi Corporation.</p>
                    </div>

                </div>
                <!--End right content-->
            </div>
            <!--End  row-->
        </div>
        <!--End container-->
    </div>
    <!--End wrapper-->

    <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Alert</h4>
                </div>
                <div class="modal-body">
                    <p id="msg">Enquiry Send Successfully</p>

                </div>
                <div class="modal-footer">
                    <form method="post" action="clearcookies">
                        <button type="submit" class="btn btn-success"> OK </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

}
<!--Javascript-->
<script src="~/DigitalCard18/js/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="~/DigitalCard18/js/jquery-migrate-1.2.1.js" type="text/javascript"></script>
<script src="~/DigitalCard18/js/owl.carousel.js" type="text/javascript"></script>
<script src="~/DigitalCard18/js/jquery.magnific-popup.js" type="text/javascript"></script>
<script src="~/DigitalCard18/js/jquery.easytabs.min.js" type="text/javascript"></script>
<script src="~/DigitalCard18/js/jquery.easing.1.3.js" type="text/javascript"></script>
<script src="~/DigitalCard18/js/modernizr.js" type="text/javascript"></script>
<script src="~/DigitalCard18/js/placeholders.min.js" type="text/javascript"></script>
<script src="~/DigitalCard18/js/script.js" type="text/javascript"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script>
    (function ($) {
        "use strict";

        $(document).ready(function () {
            $("#wrapper").easytabs({
                animate: true,
                updateHash: false,
                transitionIn: "fadeIn",
                transitionOut: "fadeOut",
                animationSpeed: 100,
                tabActiveClass: "active",
                tabs: " #main-nav.tabbed > ul > li ",
                transitionInEasing: "linear",
                transitionOutEasing: "linear",
            });
        });
    })(jQuery);
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>

<script>
    function openForm() {
        document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("myForm").style.display = "none";
    }

    //function shareViaWhatsapp() {
    //    var phoneNo = $('#txtWhatsappNo').val().replace('+', '');
    //    window.open('https://api.whatsapp.com/send?phone=' + phoneNo + '&text=Please check my new digital visiting card', '_blank');
    //}

</script>


<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
    $(document).ready(function () {
        $("#register").validate({
            ignore: ".ignore",
            rules: {
                name: {
                    required: true
                },
                email: {
                    required: true,
                    email: true
                },
                number: {
                    required: true,
                    number: true,
                    minlength: 10
                },
                query: {
                    required: true
                },
                hiddenRecaptcha: {
                    required: function () {
                        if (grecaptcha.getResponse() == '') {
                            return true;
                        } else {
                            return false;
                        }
                    }
                }
            },
            messages: {
                name: {
                    required: "Enter name"
                },
                email: {
                    required: "Enter email Id",
                    email: "Enter valid email Id"
                },
                number: {
                    required: "Enter phone number",
                    number: "Enter Phone number"
                },
                hiddenRecaptcha:
                {
                    required: "This Field Required"
                }
            }

        }); //validate
    });
</script>

<script>
    function recaptchaCallback() {
        $('#hiddenRecaptcha').valid();
    };
</script>


<link href="~/css/JQueryMagnify.css" rel="stylesheet" />
<script src="~/js/jQueryMagnify.js"></script>

<script>
    $(window).load(function () {
        var msg = "@ViewBag.msg";
        if (msg != "")
        {
            $(".modal-title").html("Alert!")
            $("#msg").html(msg);
            $('#myModal1').modal({ backdrop: 'static', keyboard: false });
        }
    })
</script>

<script>
    $('[data-magnify]').magnify({
        resizable: true,
        initMaximized: true
    })
</script>

<script>
    $(".numbersOnly").keypress(function (e) {
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    });

    $(".alphabetOnly").keypress(function (e) {
        var keyCode = e.keyCode || e.which;

        //Regex for Valid Characters i.e. Alphabets.
        var regex = /^[a-zA-Z ]*$/;

        //Validate TextBox value against the Regex.
        var isValid = regex.test(String.fromCharCode(keyCode));
        if (!isValid) {
            return false;
        }
    });
</script>


